* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'first second third'
    'fourth fifth third';
  gap: 10px;
  justify-content: center;
  margin: 10vh auto;
}

div {
  height: 200px;
  aspect-ratio: 1/1;
}

.red {
  grid-area: first;
  background-color: red;
}

.blue {
  grid-area: second;
  background-color: blue;
}

.green {
  grid-area: third;
  background-color: green;
}

.yellow {
  grid-area: fourth;
  background-color: yellow;
}

.purple {
  grid-area: fifth;
  background-color: purple;
}

.grey {
    grid-area: sixth;
    background-color: grey;
}

.black {
    grid-area: seventh;
    background-color: black;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'first second third'
    'fourth fifth third';
  gap: 10px;
  justify-content: center;
  margin: 10vh auto;
} */
